body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    margin: 0;
}
h2{
    font-size: 36px;
}
.orange{
    color: orange;
}
.hero{
    display: flex;
    margin-bottom: 100px;
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.hero-image{
    width: 50%;
    margin-top: 100px;
}
.hero-image img{
    width: 100%;
    margin-top: -80px;
}
.hero-description{
    width: 50%;
    padding-right: 30px;
    margin: 100px;
}
.link-button{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 50px;
    border-radius: 5px;
}
.dream-big{
    display: flex;
    margin-bottom: 100px;
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-color: rgba(255, 239, 213, 0.842);
    padding-top: 100px;
    padding-bottom: 100px;
}
.dream-image{
    width: 50%;
}
.dream-image img{
    margin-left: 100px;
    width: 100%;
}
.dream-text{
    width: 50%;
    margin: 100px 150px 0px 150px;
}
.flexible{
    display: flex;
}
.experiences{
    margin-bottom: 100px;
    margin-right: 50px;
    margin-bottom: 100px;
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
}
.experiences-items{
    background-color: rgba(255, 226, 226, 0.377);
    box-shadow: 10px 10px 12px gray;
    margin-left: 75px;
    padding: 30px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}
.title{
    margin-left: 75px;
}

#one{
    border-left: 8px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}

#two{
    border-left: 8px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 700;
}
